{% extends 'base.html' %}

{% block title %} Scheduled Appointments {% endblock %}

{% block body %}

<div class="parent container d-flex justify-content-center align-items-center h-100" >
    <div class="child">

       <!-- All of users appointments -->
       <h1>Your Reservations:</h1>
        {% if appts %}
            {% for appt, times in appts.items() %}
            <ul>
                <li>
                    {{appt}} From: {{times[0]}} - {{times[1]}}

                    <form action="/delete_reservation" method="POST" id="delete_appt_form">
                            <input type="hidden" name="date" value="{{ appt }}">
                            <button type="submit">Delete</button>
                    </form>
                
                </li>
            </ul>
            {% endfor %}

        {% else %}

            <p>You have no scheduled reservation currently. Try searching for <a href="/search_appt">reservation availability</a></p>
    
        {% endif %}


    </div>
</div>



{% endblock %}