{% extends 'base.html' %}

{% block title %} Scheduled Appointments {% endblock %}

{% block body %}

<div class="parent container d-flex justify-content-center align-items-center h-100" >
    <div class="child">

       <!-- All of users appointments -->
       <h1>Your Reservations:</h1>
        {% if appts %}
            {% for appt, times in appts.items() %}
                
            <p>Day: {{appt}} From: {{times[0]}} - {{times[1]}}</p>

        
            {% endfor %}

        {% else %}

            <p>You have no scheduled reservation currently. Try searching for <a href="/search_appt">reservation availability</a></p>
    
        {% endif %}


    </div>
</div>



{% endblock %}